*{
    font-family: sans-serif;
}
.span{
    margin-right: 25px;
    font-size: 20px;
}
#card{
    background-color: rgb(253, 252, 244);
    box-sizing: border-box;

}

#divv{
    justify-content: space-evenly;
}

#card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card-text{
    color: rgb(206, 8, 8);
}